.CardCol>.Card {
    width: 100%;
    background: url("http://thblog-img.test.upcdn.net/ui_img/gezi.jpg");
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .CardCol>.Card {
        background-size: 20px 20px;
    }
}

/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .CardCol>.Card {
        background-size: 14px 14px;
    }
}

.CardCol>.Card>.contain {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.CardCol>.Card>.contain>.Title {
    font-size: 24px;
    line-height: 24px;

    padding-left: 12px;
    padding-bottom: 8px;
}

.CardCol>.Card>.contain>img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: -5px;
}

.CardCol>.Card>.contain>.Summary {
    color: rgb(79, 89, 89);

    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    padding-left: 18px;
    padding-right: 18px;

    margin-bottom: 8px;
}

.CardCol>.Card>.contain>.Tip {
    color: white;
    background: rgb(52, 165, 61);

    font-size: 15px;
    line-height: 20px;

    padding-left: 18px;
    padding-right: 18px;

    padding-top: 4px;
    padding-bottom: 4px;

    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;

    border-radius: 3px;
}

.CardCol>.Card>.contain>.Tip::after {
    float: right;
    font-family: 'labelico';
    content: "\e3004";
}

/* 屏幕宽度大于1000时 */
@media (min-width: 1000px) {
    .CardCol>.Card>.contain>.Title {
        padding-top: 12px;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    .CardCol>.Card>.contain>.Title {
        padding-top: 10px;
    }
}

.CardCol>.Card>.contain>.Content {
    background: rgb(245, 245, 245);
    padding: 4px;

    font-size: 18px;
    line-height: 28px;
    word-break: break-word;
}

.CardCol>.Card>.contain>.NoteContent {
    background: rgba(200, 200, 200);
    color: rgb(49, 59, 59);

    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    word-break: break-word;
}

.CardCol>.Card>.contain>.Content>img,
.CardCol>.Card>.contain>.NoteContent>img {
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0.4px rgba(0, 0, 0, 0.3);
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .CardCol {
        width: 73%;
        max-width: 1000px;
    }
}

/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .CardCol {
        width: 100%;
    }
}