blockquote {
    /* 颜色模式 */
    color: rgba(250, 250, 250, 1);
    background: rgba(40, 40, 40, 1);
}

table {
    /* 颜色模式 */
    background-color: rgb(20, 20, 20);
}

tr:nth-child(even) {
    /* 颜色模式 */
    background: rgb(24, 24, 24);
}

tr:nth-child(odd) {
    /* 颜色模式 */
    background: rgb(20, 20, 20);
}
