.Tran {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

@media only screen and (min-width: 1025px) {
.MagnT {
    margin-top: 12px;
}
.MagnB {
    margin-bottom: 12px;
}
}

@media only screen and (max-width: 1024px) {
.MagnT {
    margin-top: 8px;
}
.MagnB {
    margin-bottom: 8px;
}
}
.Shadow {
    box-shadow: 0px 0px 3px 0.2px rgba(0,0,0,0.4);
}
.RdiuT {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.RdiuB {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fltL {
    float: left;
}
.fltN {
    float: none;
}
.flx {
    display: flex;
}
.flxC{
    align-self: center;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    style: none;
}
a:visited {
    style: none;
}
.cur {
    cursor: pointer;
}
