.AtBox {
    width: 100%;

    padding-top: 3px;
    padding-bottom: 3px;

    /* 颜色模式 */
    color: rgba(200, 200, 200, 1.00);
    background: rgba(40, 40, 40, 1.00);
}

.CoBox>.AtBox {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    /* 颜色模式 */
    /* background: rgba(40, 40, 40, 1.00); */
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .AtBox {
        background-size: 20px 20px;
    }
}

/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .AtBox {
        background-size: 14px 14px;
    }
}

.AtBox>div {
    width: 21%;
    float: left;

    text-align: center;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2px;
    margin-bottom: 2px;

    border-radius: 4px;
}

/* 屏幕宽度大于1000时 */
@media (min-width: 1000px) {
    .AtBox>div {
        font-size: 0.8em;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    .AtBox>div {
        font-size: 0.6em;
    }
}

.AtBox>div::before {
    font-family: 'labelico';
    padding-right: 6px;
}

.AtBox>.CommentCount,
.AtBox>.StarCount {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.AtBox>.Date::before {
    content: "\e3007";
}

.AtBox>.UVCount::before {
    content: "\e3008";
}

.AtBox>.CommentCount::before {
    content: "\e3010";
}

.AtBox>.StarCount::before {
    content: "\e3014";
}

/* CoBox里的星星有不同的样式 */
.CoBox>.AtBox>.StarCount::before {
    content: "\e3014";
}

.AtBox>.Time::before {
    content: "\e3004";
}

.AtBox>.Archiv::before {
    content: "\e3001";
}

.AtBox>.Tag::before {
    content: "\e3006";
}