.Tip_1,.Tip_2,.Tip_3{
    color: white;
    font-size: 15px;
    display: flex;

    padding-left: 2%;
    padding-right: 2%;
    margin: 4px;

    border-radius: 3px;
}

.Tip_1>.con,.Tip_2>.con,.Tip_3>.con{
    margin-right: auto;
}

.Tip_1 {
    background: rgb(52, 165, 61);
    padding-top: 3px;
    padding-bottom: 3px;
}
.Tip_2 {
    background: rgb(255, 165, 0);
    padding-top: 12px;
    padding-bottom: 12px;
}
.Tip_3 {
    background: rgb(0, 120, 215);
    padding-top: 3px;
    padding-bottom: 3px;
}

.Tip_1::after,.Tip_2::after,.Tip_3::after{
    align-self: center;
    font-family: 'labelico';
}
.Tip_1::after {
    content: "\e3004";
}
.Tip_2::after {
    content: "\e3016";
}
.Tip_3::after {
    content: "\e3017";
}