.SiteIntro::before {
    margin-right: 6px;
    font-family: "labelico";
    content: '\e3010';
    font-size: 12px;
}
.SiteIntro::after {
    margin-left: 6px;
    font-family: "labelico";
    content: '\e3003';
    font-size: 12px;
}
.SiteName {
    background-color: transparent;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}
.SiteIntro {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
}

@media only screen and (min-width: 1025px) {
.NaviCol {
    width: 302px;
    position: fixed;
}
.NaviHead {
    overflow: hidden;
    width: 100%;
    padding-top: 14%;
    padding-right: inherit;
    position: relative;
}
.SiteName {
    width: 88%;
    margin-top: 14%;
    margin-left: auto;
    margin-bottom: 0%;
    margin-right: auto;
}
.SiteIntro {
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ShowNaviBtn {
    display: none;
}
}

@media only screen and (max-width: 1024px) {
.NaviBoxCol {
    width: 100%;
}
.NaviHead {
    width: 100%;
    padding-top: 6%;
    margin-bottom: 8px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.SiteName {
    width: 88%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 1%;
}
.SiteIntro {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
}
.ShowNaviBtn {
    font-size: 20px;
    width: 60px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(76,76,76,1.00);
    box-shadow: 0px 0px 3px 0.2px rgba(0,0,0,0.4);
    z-index: 2;
    position: fixed;
    float: right;
    top: 32px;
    right: 32px;
    line-height: 38px;
}
}
.Avatar {
    border-radius: 64px;
    width: 128px;
    height: 128px;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.Avatar:hover {
    box-shadow: 0px 0px 64px rgba(245, 245, 245, 0.3), 0px 0px 0px rgba(245, 245, 245, 0.3);
    transition-duration: 0.1s;
    transition-timing-function: ease;
}
