
@media only screen and (min-width: 1025px) {
.NaviCardBox {
    z-index: -1;
    width: 100%;
    background: rgba(57,57,57,1.00);
    padding-bottom: 14px;
    position: relative;
    padding-top: 10px;
}
.CoMark {
    line-height: 18px;
    font-size: 12px;
    margin-top: 14px;
}
.NaviCard {
    background: linear-gradient(to right, rgba(57,57,57,1.00), rgba(41,41,41,1.00));
    width: 92%;
    position: relative;
    margin-bottom: 8px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (max-width: 1024px) {
.NaviCardBox {
	background: rgba(57,57,57,1.00);
	padding-top: 20%;
    display: none;
    width: 70%;
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 12px;
}
.CoMark {
    line-height: 16px;
    font-size: 12px;
    margin-top: 6%;
	margin-bottom: 6%;
}
.NaviCard {
    background: linear-gradient(to right, rgba(57,57,57,1.00), rgba(41,41,41,1.00));
    width: 96%;
    position: relative;
    margin-bottom: 6px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
}
}
.NaviCard:hover {
    background: linear-gradient(to right, rgba(41,41,41,1.00), rgba(41,41,41,1.00));
}
.NaviCardTitle {
    line-height: 18px;
    font-size: 16px;
    color: #FFFFFF;
    float: left;
    margin-right: auto;
    margin-left: 5%;
    text-align: center;
}
.CoMark {
    width: 88%;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}
