@import "./Box/AtBox.css";
@import "./Box/CardCol.css";
@import "./Box/CoBox.css";
@import "./Box/CommentBox.css";
@import "./Box/CommentList.css";
@import "./Box/NavCol.css";

@import "./markdown-white.css";

.bE-black{
    border: rgb(90 90 90 / 65%);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

.bE-white{
    border: rgb(128 128 128 / 65%);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}
