<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @await Html.PartialAsync("head")
</head>
<body>
    <div class="fixed">
        @await Html.PartialAsync("navi_line")
        <div class="upBtn bSha bRds b55" style="display: none" onclick="upBtn()"></div>
    </div>
    <div class="contain">
        <div id="NavCol" class="bSha bRds">
            @await Html.PartialAsync("navi_col")
        </div>
        <div id="CardCol" class="R">
            <div class="Col">
                @RenderBody()
            </div>
        </div>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:300,400">
    </div>
</body>
@await Html.PartialAsync("foot")
</html>