.mk-dt {
    color: rgb(240, 240, 240);
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    letter-spacing: 0px;

    padding-left: 5px;
    margin-right: 6px;

    border-radius: 2px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px 0.8px rgba(0, 0, 0, 0.3);
}

.mk-w,
.mk-bug,
.mk-dbg,
.mk-updt,
.mk-mtn,
.mk-ui {
    font-size: 14px;

    margin-left: 5px;
    padding-left: 4px;
    padding-right: 4px;

    background: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.mk-w::before {
    content: "📃";
}

.mk-bug::before {
    content: "🚨";
}

.mk-dbg::before {
    content: "🔨";
}

.mk-updt::before {
    content: "🎯";
}

.mk-mtn::before {
    content: "📦";
}

.mk-ui::before {
    content: "📐";
}