@import "./Box/AtBox.css";
@import "./Box/CardCol.css";
@import "./Box/CoBox.css";
@import "./Box/CommentBox.css";
@import "./Box/CommentList.css";
@import "./Box/NavCol.css";

@import "./markdown-dark.css";

.bE-black{
    border: rgb(158 158 158 / 65%);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

.bE-white{
    border: rgb(158 158 158 / 65%);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}