.upBtn {
    text-align: center;
    line-height: 28px;

    position: fixed;
    z-index: 1;
    bottom: 10%;

    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

.upBtn::before {
    font-family: 'field-icon';
    color: #FFFFFF;
    content: "\e3005";
}

/* 屏幕宽度 [ 1491 , + ) */
@media (min-width: 1491px) {
    .upBtn {
        font-size: 22px;

        width: 50px;
        padding-top: 7px;
        padding-bottom: 9px;

        right: 6%;
    }

    .upBtn::before {
        font-size: 16px;
    }
}

/* 屏幕宽度 [ 1001 , 1490 ] */
@media (min-width:1001px) and (max-width: 1490px) {
    .upBtn {
        font-size: 22px;

        width: 36px;
        padding-top: 2px;
        padding-bottom: 7px;

        right: 2%;
    }

    .upBtn::before {
        font-size: 14px;
    }
}

/* 屏幕宽度 ( - , 1000 ] */
@media (max-width: 1000px) {
    .upBtn {
        font-size: 18px;

        width: 36px;
        padding-top: 4px;
        padding-bottom: 7px;

        left: 2%;
    }

    .upBtn::before {
        font-size: 12px;
    }
}