
@media only screen and (min-width: 1025px) {
.TxtCol {
    margin-right: 0%;
    float: right;
    width: 708px;
}
}

@media only screen and (max-width: 1024px) {
.TxtCol {
    margin-right: 0%;
    width: 100%;
}
}
.TxtBox {
    width: 100%;
    position: relative;
    background: rgba(255,255,255,0.88);
}
.TxtBoxTitle {
    line-height: 30px;
    font-size: 24px;
    position: relative;
}
.TxtBoxSummary {
    width: 100%;
    font-size: 14px;
    position: relative;
    margin-top: 1%;
    color: #707070;
}
.TxtContent {
    width: 94%;
    position: relative;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
}
.TxtCoMark {
    width: 100%;
    background-color: rgba(132,132,132,1);
    padding-top: 1%;
    padding-bottom: 0%;
    position: relative;
}
.TxtCoMarkTime {
    width: 70%;
    background-color: transparent;
    line-height: 19px;
    font-size: 16px;
    text-align: left;
    color: #FAFAFA;
    font-weight: 300;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 1%;
    margin-bottom: 0%;
    position: relative;
    float: left;
}
.TxtCoMarkId {
    width: 25%;
    background-color: transparent;
    line-height: 19px;
    font-size: 16px;
    text-align: right;
    color: #FAFAFA;
    font-weight: 300;
    margin-top: 0%;
    margin-right: 1%;
    margin-left: 0%;
    margin-bottom: 0%;
    position: relative;
    float: right;
}
.TxtBoxContent {
    font-weight: 300;
    margin-top: 1%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    font-size: 18px;
}
.TxtImg {
    width: 100%;
    display: block;
}