.CommentList {
    /* 颜色模式 */
    background: rgba(255, 255, 255, 0.3);
}

.CommentList>.Box {
    /* 颜色模式 */
    background: rgba(246, 246, 246, 1.00);
}

.CommentList>.Box>.Email {
    /* 颜色模式 */
    color: rgba(170, 170, 170, 1);
}

.CommentBox>div>.Logo {
    /* 颜色模式 */
    color: rgba(160, 160, 160, 1);
    background: rgba(210, 210, 210, 1);
}

.CommentList>.Box>.Floor {
    /* 颜色模式 */
    color: black;
    background: rgba(210, 210, 210, 1);
}