<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-type" Content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <base target="_blank">

  <link rel="icon" href="ui/img/console.png" sizes="192x192">
  <title>Thaumy的博客|又一个码农的家</title>

  <link rel="stylesheet" href="ui/css/global.css">
  <link rel="stylesheet" href="ui/css/white.css">

  <!-- vuetify -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.18/dist/vuetify.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/typed.js/2.0.10/typed.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>

  <script src="ui/js/global.js"></script>

  <!-- 版权绘 -->
  <script>
    let c =
      'background:#00CED1; padding:10px 20px 12px 20px; font-family:\'Source Sans Pro\'; font-size:22px; color:#fff; border-radius: 3px 0 0 3px;'
    let d =
      'background:#1E90FF; padding:10px 20px 12px 20px; font-family:\'Source Sans Pro\'; font-size:22px; color:#fff; border-radius: 0 3px 3px 0;'
    console.log(`%c 噼哩啪啦 %cBETA 8`, c, d)
  </script>
  <script>
    let a =
      'background: #FFA500; padding:4px 10px 4px 10px; font-family:\'Source Sans Pro\'; color: #fff; border-radius: 3px 0 0 3px;'
    let b =
      'background: #606060; padding:4px 10px 4px 10px; font-family:\'Source Sans Pro\'; color: #fff; border-radius: 0 3px 3px 0;'
    console.log(`  %cTheme%c氛V3 Designed By Thaumy`, a, b)
  </script>
</head>

<body>

  <div id="fixed">

    <div id="NavLine" class="L M bSha">
      <div class="contain cur bRds" onclick="up()">
        <img class="Avatar bSha" src="http://q1.qlogo.cn/g?b=qq&nk=1951327599&s=640">
        <div class=" Name">THAUMY的小站</div>
      </div>
      <div class="SiderBtn R" onclick="ListToggle()"></div>
    </div>

    <div id="SiderList" class="bSha">

      <m-nav_card v-for="a in List" v-bind:item="a" v-bind:key="a.index"></m-nav_card>

      <div class="Co cur" onclick="up();ListToggle()">
        Thaumy的博客©2016-2020保留所有权利<br>
        基于pilipala构建<br>
        Field Theme Designed By Thaumy<br>
      </div>
    </div>


    <div class="Shadow" onclick="ListToggle()"></div>
    <div class="upBtn bSha bRds" style="display: none" onclick="upBtn()"></div>
  </div>

  <div id="contain">
    <div id="NavCol" class="bSha bRds">

      <div class="box bSha bRds-t">
        <div class="AvaBox">
          <div class="Ava-outline" v-bind:style="style" v-on:click="click" id="Ava-outline">
            <img class="Ava bSha cur" src="http://q1.qlogo.cn/g?b=qq&nk=1951327599&s=640">
          </div>
        </div>

        <div class=" Name">THAUMY的小站</div>
        <div class="Note"><span id="note"></span></div>
      </div>

      <div class="List" id="pcNavList">
        <div class="barBox">
          <transition name="fade">
            <div class="bar" v-if="barSeen" v-bind:style="style"></div>
          </transition>
        </div>
        <div class="box">
          <pc-nav_card v-for="a in List" v-bind:item="a" v-bind:key="a.index"></pc-nav_card>
        </div>
      </div>

      <div class="Co-outline" v-bind:style="style" v-on:click="click" id="Co-outline">
        <div class="Co cur">
          Thaumy的博客©2016-2020保留所有权利<br>
          基于pilipala构建<br>
          Field Theme Designed By Thaumy<br>
        </div>
      </div>

    </div>

    <div id="CardCol" class="R">
      <div class="Col">

        <div class="Card M bSha bRds">
          <div class="contain cur bRds" onclick="up();">
            <div class="NoteContent bRds">
              这是一条笔记，适合短文本发布。
            </div>
          </div>
        </div>

        <div class="Card M bSha bRds">

          <div onclick="up()" class="contain cur">
            <img class="pXL" src="http://thblog-img.test.upcdn.net/md-img/氛V2/field2cg.jpg" />
            <div class="Title">氛</div>
            <div class="Summary">Make a simple, intuitive UI</div>
          </div>

          <div class="AtBox bRds-b">
            <div class="Date">19-07-12</div>
            <div class="UVCount">12345</div>
            <div class="CommentCount">12345</div>
            <div class="StarCount">12345</div>
          </div>
        </div>

        <div class="Card M bSha bRds">

          <div onclick="up()" class="contain cur">

            <img class="pXL" id="welcom_pic" />
            <script>
              var images = ['http://thblog-img.test.upcdn.net/ui-background/bg_1.jpg',
                'http://thblog-img.test.upcdn.net/ui-background/bg_2.jpg',
                'http://thblog-img.test.upcdn.net/ui-background/bg_3.jpg',
                'http://thblog-img.test.upcdn.net/ui-background/bg_4.jpg'
              ];
              document.getElementById("welcom_pic").src = images[Math.floor(Math.random() * images.length)];
            </script>

            <div class="Title">PILIPALA BETA8</div>
            <div class="Summary">信的开头</div>
          </div>

          <div class="AtBox bRds-b">
            <div class="Date">19-07-12</div>
            <div class="UVCount">12345</div>
            <div class="CommentCount">12345</div>
            <div class="StarCount">12345</div>
          </div>
        </div>

        <div class="Card M bSha bRds">
          <div class="contain bRds">
            <div class="Title">四宫辉夜</div>
            <div class="Summary">Shinomiya Kaguya</div>
            <div class="SchedulTip bSha">
              <div class="con">计划中的项目。此文章将会于近期更新</div>
            </div>
            <div class="ArchivTip bSha">
              <div class="con">此文章已经归档。这意味着其内容将不受维护，但仍具有一定的参考价值。</div>
            </div>
            <div class="ReadTimeTip bSha">
              <div class="con">约 6600字 阅读需要 5分钟</div>
            </div>
            <div class="Content markdown-body">

              <img class="pM" src="http://thblog-img.test.upcdn.net/md-img/Kaguya_winter.jpg" />

              <h1>四宮輝夜 Shinomiya Kaguya</h1>
              <h2>简介</h2>
              <blockquote>
                四宫辉夜是秀知院学园高中部2年A班学生，学生会副会长。是总资产200兆万亿日元、旗下子公司破千、被视为四大财阀之一的四宫集团的大小姐，有三个哥哥。AAA
              </blockquote>
              学业优秀，是一个在茶道、花道、舞蹈、古筝、合气道、薙刀、弓道等方面皆有出色成绩的全能型天才，其中弓道在二年级就升到了四段，初中便拿到全国大赛一等奖，曾在决胜阶段连续射中十次,但升入高中后因比赛与圣诞节冲突便再也没有参加。<br>
              住在四宫家位于东京的别墅，出门有专车接送、便当是专属厨师制作，是个“盒中的女孩（箱入り娘）”，过着与世俗无缘的生活的同时很向往庶民的生活，是个IT白痴性知识也极度缺乏。<br>
              以大约一月一个的速度被人告白。<br>
              非常适合猫耳。
              <h2>性格</h2>
              在四宫家的教育下，是一个利己主义者，同时对自己立下的规矩绝不违背。总是不自觉的露出看低别人的表情。<br>
              因性格冰冷而被当成难以靠近的冰山美人、深闺公主，在加入学生会后渐渐变得温柔和沙雕，少女心的一面渐渐多了起来。<br>
              自尊心极高，喜欢白银御行和他凶狠的眼神熬夜的黑眼圈，一直不愿承认。“但喜欢的话一定是真爱。”<br>
              经常主动采取措施逼迫白银御行告白，但常常被藤原千花干扰。到后来甚至会太喜欢白银御行得上“恋心病”。<br>
              嫉妒心极强，非常担忧白银御行的女性朋友增多。<br>
              生病时会变得很爱撒娇，但是痊愈后会将这个事情完全忘记。如白银去探病时，直接被辉夜逆推，但辉夜病好之后发现白银在她的床上时，是立刻恢复元气，将白银踹离她的闺房。不过其实这期间白银根本没有做出逾矩的事情，很单纯的只是因睡眠不足而睡着而已。
              <br><br>
              <a href="www.baidu.com">baidu链接测试</a>
              <code>rm -rf /*</code>
              表格测试

              <table id="post_comic_list">

                <thead>
                  <th>番名</th>
                  <th>列</th>
                  <th>评级</th>
                </thead>
                <tr>
                  <td>辉夜大小姐想让我告白</td>
                  <td>列</td>
                  <td>⭐⭐⭐⭐⭐</td>
                </tr>
                <tr>
                  <td>ALDNOAH.ZERO</td>
                  <td>列</td>
                  <td>⭐⭐⭐⭐</td>
                </tr>
                <tr>
                  <td>埃罗芒阿老师</td>
                  <td>列</td>
                  <td>⭐⭐⭐</td>
                </tr>
                <tr>
                  <td>轻音少女</td>
                  <td>列</td>
                  <td>⭐⭐</td>
                </tr>
                <tr>
                  <td>头文字D</td>
                  <td>列</td>
                  <td>⭐</td>
                </tr>
              </table>

              高亮测试

              <pre>C#<code>public void HelloField()
{
    Console.WriteLine("HelloField!");
}</code></pre>

              <span class="mk-dt">20.08.30<span class="mk-ui"></span></span>引入了Gitalk作为评论模块（测试版本）
              <br><span class="mk-dt">20.08.02<span class="mk-ui"></span></span>进一步优化了分辨率兼容性
              <br><span class="mk-dt">20.07.30<span class="mk-ui"></span></span>微调了ui部分栏目的间隔
              <br><span class="mk-dt">20.05.09<span class="mk-updt"></span></span>CNZZ记录服务已恢复
              <br><span class="mk-dt">20.05.09<span class="mk-ui"></span></span>修复了因githack错误而导致的mrks和wrds标记样式丢失的问题
              <br><span class="mk-dt">20.04.30<span class="mk-updt"></span></span>氛：文章计划标签现可用
              <br><span class="mk-dt">20.04.30<span class="mk-updt"></span></span>多文章状态属性现可用（例如归档、计划、隐藏、禁用等等）
              测试结束
            </div>
            <div>
              <div class="nxtBtn L bRds cur" onclick="up()">藤原千花</div>
              <div class="pvsBtn R bRds cur" onclick="up()">石上优</div>
            </div>

          </div>
          <!-- 代码高亮启用 -->
          <script>
            hljs.initHighlighting.called = false;
            hljs.initHighlighting();
          </script>
        </div>

        <div class="CoBox M bSha">

          <span class="text_auth L">由Thaumy最后编辑于19.04.05</span>
          <span title="MD5签名 : @MD5" class="text_mId R">004C01E</span>

          <div class="AtBox bRds-b">
            <div class="Date">19-07-12</div>
            <div class="UVCount">12345</div>
            <div class="CommentCount cur">12345</div>
            <div class="StarCount cur">12345</div>
            <div class="Time">周四 07:12</div>
            <div class="Archiv">氛归档</div>
            <div class="Label">氛标签</div>
          </div>
        </div>

        <div class="CommentList M bSha bRds">
          <div class="Box bSha" onmouseover="CommentList_Over(this)" onmouseleave="CommentList_Leave(this)">
            <div class="Name">雅爱方雏丶YAMAHA</div>
            <div class="Floor cur bSha" data-f="1" data-id="12384" onclick="CommentBox.doReply(this)">1
            </div>
            <div class="Email">studio_ai@outlook.com</div>
            <div class="Time">20-09-12 | 01:34</div>
            <div class="Content">
              来自雅爱方雏的钦定！雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈雅马哈
            </div>
          </div>
          <div class="Box bSha" onmouseover="CommentList_Over(this)" onmouseleave="CommentList_Leave(this)">
            <div class="Name">SoulStar(回复)<span class="ReplyLogo"></span><span class="ReplyFloor">1F</span>雅爱方雏丶YAMAHA
            </div>
            <div class="Floor cur bSha" data-f="2" data-id="12384" onclick="CommentBox.doReply(this)">2
            </div>
            <div class="Email">studio_ai@outlook.com</div>
            <div class="Time">20-09-13 | 23:33</div>
            <div class="Content">
              雅子我爱你呀~哼哼哼啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
          </div>
          <div class="Box bSha" onmouseover="CommentList_Over(this)" onmouseleave="CommentList_Leave(this)">
            <div class="Name">Thaumy(回复)<span class="ReplyLogo"></span><span class="ReplyFloor">2F</span>SoulStar
            </div>
            <div class="Floor cur bSha" data-f="3" data-id="12384" onclick="CommentBox.doReply(this)">3
            </div>
            <div class="Email">studio_ai@outlook.com</div>
            <div class="Time">20-09-13 | 23:34</div>
            <div class="Content">我看你是欠日</div>
          </div>
        </div>

        <div class="ShadowBox M">
          <div class="CommentTip bSha">
            <div class="con">评论尚无，快来吃个螃蟹！</div>
          </div>
          <div class="WarningTip bSha">
            <div class="con">CommentLake提交系统尚处于开发状态，这意味着评论功能尚不完全可用。</div>
          </div>
          <div class="LockTip bSha">
            <div class="con">此文章的评论系统已上锁。</div>
          </div>
        </div>

        <div id="CommentBox" class="CommentBox M bRds bSha">

          <div class="Content">
            <div class="Logo"></div>
            <div class="ReplyLogo" v-show="HEAD"></div>
            <transition name="fade">
              <div class="ReplyFloor cur" v-show="HEAD" v-on:click="closeReply" onmouseover="CommentBox_ReplyBtn_Over()"
                onmouseleave="CommentBox_ReplyBtn_Leave()">{{FloorText}}
              </div>
            </transition>
            <textarea v-model="Content" placeholder="评论内容(必填)"></textarea>
          </div>
          <div class="Name">
            <div class="Logo"></div>
            <input v-model="Name" placeholder="昵称(必填)" />
          </div>
          <div class="Email">
            <div class="Logo"></div>
            <input v-model="Email" placeholder="邮箱(必填)" />
          </div>
          <div class="WebSite">
            <div class="Logo"></div>
            <input v-model="WebSite" placeholder="网站(可选)" />
          </div>

          <v-app class="Captcha">
            <div>
              <v-btn color="primary" block height="34" class="CaptchaLine">提交</v-btn>
            </div>
          </v-app>

        </div>

      </div>
      <style>
        .v-application--wrap {
          min-height: unset;
        }
      </style>
      <div id="column_bottom"></div>
    </div>
    <div id="IllustCo"
      style="float:right;color:white;width:100%;text-align:center;height:100px;letter-spacing:1px;line-height:24px;font-weight:400;">
      illust：treeware<br>
      pixiv67807429
    </div>
  </div>
</body>

<!-- vue -->
<script>
  Vue.component("pc-nav_card", {
    props: ["item"],
    template: '<div ref="foo" class="Card cur bRds" v-on:click="pc_nav_card_click" :key="item.index"><div class="contain">{{item.Title}}</div></div>',
    methods: {
      pc_nav_card_click: function () {
        up();
        pcNavList.barSeen = true

        pcNavList.style = {
          top: this.item.index * 6 + 'vh',
        }

        AvaOutline.style = {
          'border-color': 'rgba(0,0,0,0)'
        }
        CoOutline.style = {
          'border-color': 'rgba(0,0,0,0)'
        }
      }
    }
  })
  Vue.component('m-nav_card', {
    props: ['item'],
    template: '<div class="Card cur bRds" v-on:click="m_nav_card_click" :key="item.index"><div class="contain">{{item.Title}}</div></div>',
    methods: {
      m_nav_card_click: function () {
        up();
        ListToggle();

        AvaOutline.style = {
          'border-color': 'rgba(0,0,0,0)'
        }
        CoOutline.style = {
          'border-color': 'rgba(0,0,0,0)'
        }
      }
    }
  })
  var pcNavList = new Vue({
    el: '#pcNavList',
    data: {
      barSeen: true,
      style: {
        top: '0vh'
      },
      List: [{
          index: 0,
          ID: 12345,
          Title: '首页'
        },
        {
          index: 1,
          ID: 12346,
          Title: '四宫辉夜'
        },
        {
          index: 2,
          ID: 12349,
          Title: '石上优'
        },
        {
          index: 3,
          ID: 12349,
          Title: '白银御行'
        },
        {
          index: 4,
          ID: 12349,
          Title: '藤原千花'
        },
        {
          index: 5,
          ID: 12349,
          Title: '早坂爱'
        },
        {
          index: 6,
          ID: 12349,
          Title: '伊井野弥子'
        }
      ]
    },
  })
  var SiderList = new Vue({
    el: '#SiderList',
    data: {
      List: pcNavList.List
    },
  })
  var AvaOutline = new Vue({
    el: '#Ava-outline',
    data: {
      style: {
        'border-color': 'rgba(0,0,0,0)'
      }
    },
    methods: {
      click: function () {
        up();
        this.style = {
          'border-color': 'rgba(1, 153, 255, 1)'
        };
        CoOutline.style = {
          'border-color': 'rgba(0,0,0,0)'
        }
      }
    }
  })
  var CoOutline = new Vue({
    el: '#Co-outline',
    data: {
      style: {
        'border-color': 'rgba(0,0,0,0)'
      }
    },
    methods: {
      click: function () {
        up();
        this.style = {
          'border-color': 'rgba(1, 153, 255, 1)'
        };
        AvaOutline.style = {
          'border-color': 'rgba(0,0,0,0)'
        }
      }
    }
  })
  var CommentBox = new Vue({
    el: '#CommentBox',
    vuetify: new Vuetify(),
    data: {
      FloorText: '0F',

      HEAD: 0,
      Content: '',
      Name: '',
      Email: '',
      WebSite: ''
    },
    methods: {
      check: function () {
        if (ContentCheck(this.Content) &
          NameCheck(this.Name) &
          EmailCheck(this.Email) &
          WebSiteCheck(this.WebSite)) {
          //TODO
          return true;
        } else {
          //TODO
          __nc.reload();
          window.alert("请检查填写是否有误");
          return false;
        }
      },
      doReply: function (el) {
        this.FloorText = el.dataset.f + "F";
        this.HEAD = el.dataset.id;
      },
      closeReply: function () {
        /* HEAD为0时，回复不会显示 */
        this.HEAD = 0;
      }
    }
  })

  var FloorText_temp;

  /* 鼠标移入移出回复按钮事件 */
  function CommentBox_ReplyBtn_Over() {
    FloorText_temp = CommentBox.FloorText;
    CommentBox.FloorText = "取消";
  }

  function CommentBox_ReplyBtn_Leave() {
    CommentBox.FloorText = FloorText_temp;
  }

  function CommentList_Over(el) {
    $(el).children(".Floor").text("回复");
    $(el).children(".Floor").css({
      "height": "22px",
      "width": "32px",

      "font-size": "0.8em",
      "font-weight": "500",
      "font-family": "Source Sans Pro",
      "color": "rgb(255, 255, 255)",
      "line-height": "22px",

      "background": "rgb(0, 180, 255)"
    });
  }

  function CommentList_Leave(el) {
    /* 把属性data-f赋给内容 */
    $(el).children(".Floor").text($(el).children(".Floor").attr("data-f"));
    /* 移除添加的样式 */
    $(el).children(".Floor").removeAttr("style", "");
  }

  /*评论检查*/
  function ContentCheck(value) {
    if (value == "") {
      return false;
    } else {
      if (value.length > 320) {
        return false;
      } else {
        return true;
      }
    }
  };

  function NameCheck(value) {
    if (value == "") {
      return false;
    } else {
      if (value.length > 12) {
        return false;
      } else {
        return true;
      }
    }
  };

  function EmailCheck(value) {
    if (value == "") {
      return false;
    } else {
      var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
      if (!reg.test(value)) {
        return false;
      } else {
        return true;
      }
    }
  };

  function WebSiteCheck(value) {
    if (value == "") {
      return true;
    } else {
      var reg0 = /^(http|https|ftp)\:\/\/([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}(\/)?$/;
      if (!reg0.test(value)) {
        return false;
      } else {
        return true;
      }
    }
  };
</script>

<!-- js特效 -->
<script src="ui/js/more/note.js"></script>
<script>
  /* 滑到底部查看壁纸 */
  $(window).scroll(throttle(function () {
    var opacity = document.getElementById('column_bottom').getBoundingClientRect().top / 320;
    document.getElementById('fixed').style.opacity = opacity;
    document.getElementById('NavCol').style.opacity = opacity;
    document.getElementById('CardCol').style.opacity = opacity;
    document.getElementById('IllustCo').style.opacity = opacity * -4;
  }, 10))
  /* 返顶按钮淡入淡出 */
  $(window).scroll(throttle(function () {
    if ($(window).scrollTop() >= 1000) {
      $(".upBtn").fadeIn(350);
    } else {
      $(".upBtn").fadeOut(350);
    }
  }, 300))
</script>
<script>
  /* 向上滚动NavLine展开 */
  p = 0;
  t = 0;
  $(window).scroll(debounce(function () {
    /* 触发宽度 */
    if ($(window).width() <= 1000) {
      p = $(this).scrollTop();
      if (t <= p) {
        /* 防止触发遮住文本首部 */
        if ($(window).scrollTop() >= 20) {
          $("#NavLine").slideUp(200);
        }
      } else {
        /* 触发高度：小于20或大于200 */
        if ($(window).scrollTop() <= 20 | $(window).scrollTop() >= 200) {
          $("#NavLine").slideDown(150);
        }
      }
      t = p;
    } else {
      $("#NavLine").slideUp(200);
    }
  }, 50))

  /* 触发宽度外，收起NavLine */
  $(window).resize(function () {
    if ($(window).width() >= 1001) {
      $("#NavLine").slideUp(200);
    } else {
      $("#NavLine").slideDown(200);
    }
  });
</script>
<script>
  /* 侧边菜单展开 */
  function ListToggle() {
    if ($("#SiderList").css("left") == "-800px") {
      $("body").css("overflow", "hidden"); /* 禁用滚动 */

      fadeInX2(".Shadow", function () {});
      $(".SiderBtn").slideUp(300);
      slideRight2X("#SiderList");

    }

    if ($("#SiderList").css("left") == "12px") {
      $("body").css("overflow", "unset"); /* 启用滚动 */

      fadeOutX2(".Shadow", function () {
        $(".SiderBtn").slideDown(400);
      });
      slideLeft2X("#SiderList");

    }
  }
</script>



</html>