.CommentBox {
    display: grid;
    grid-template-columns: 35% 20% 35% 10%;
    grid-template-rows: auto 38px 38px;

    padding: 2px;
}

/* 屏幕宽度大于1001时 */
@media screen and (min-width: 1001px) {
    .CommentBox {
        margin: auto;
        width: 70%;
        min-width: 600px;
        max-width: 700px;
    }
}

/* 屏幕宽度大于491，小于1490时 */
@media (max-width: 1000px) and (min-width:491px) {
    .CommentBox {
        margin: auto;
        width: 86%;
        min-width: 482px;
        max-width: 700px;
    }
}

/* 屏幕宽度小于500时 */
@media screen and (max-width: 490px) {
    .CommentBox {
        width: 100%;
        box-sizing: border-box;
    }
}

.CommentBox>div {
    display: flex;
    padding: 2px;
}

.CommentBox>div>input,
.CommentBox>div>textarea {
    font-size: 16px;
    min-width: 0;
    flex: 1;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.CommentBox input {
    color: rgba(80, 80, 80, 1);

    padding-left: 8px;
    border: 0;

    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.CommentBox>.Name {
    grid-column-start: 1;
    grid-column-end: 2;
}

.CommentBox>.Email {
    grid-column-start: 2;
    grid-column-end: 5;
}

.CommentBox>.WebSite {
    grid-column-start: 1;
    grid-column-end: 3;
}

.CommentBox>.Captcha {
    grid-column-start: 3;
    grid-column-end: 5;
}

.CommentBox>.Captcha>.CaptchaLine {
    font-size: 16px;
    min-width: 0;
    flex: 1;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}


.CommentBox>.Content {
    grid-column-start: 1;
    grid-column-end: 5;

    grid-template-columns: 34px auto;
    grid-template-rows: 30px 24px auto;

    display: grid;
}

.CommentBox>.Content>textarea {
    grid-row-start: 1;
    grid-row-end: 4;

    grid-column-start: 2;
    grid-column-end: 3;

    font-family: 'Noto Sans SC', sans-serif;
    text-align: left;

    min-height: 74px;
    padding-top: 4px;
    padding-left: 8px;

    border: 0;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

    resize: none;
}

.CommentBox>.Content>.Logo {
    padding-left: 10px;
    line-height: 33px;
}

.CommentBox>div>.Logo {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    line-height: 2.2em;
    padding-left: 8px;
    padding-right: 8px;
    color: rgba(130, 130, 130, 1);
}

.CommentBox>div>.Logo::before {
    font-family: 'field-icon';
    line-height: 1.2em;
}

.CommentBox>.Name>.Logo::before {
    content: "\e3008";
}

.CommentBox>.Email>.Logo::before {
    content: "\e3021";
}

.CommentBox>.WebSite>.Logo::before {
    content: "\e3022";
}

.CommentBox>.Captcha>.Logo::before {
    content: "\e3015";
}

.CommentBox>.Content>.Logo::before {
    content: "\e3010";
}




.CommentBox>.Content>.ReplyLogo {
    margin: auto;
    padding-top: 1px;
    grid-row-start: 2;
    transform: rotate(90deg);
}

.CommentBox>.Content>.ReplyLogo::before {
    content: "\e3020";
    font-family: 'field-icon';
    color: rgb(255 159 0);
}

.CommentBox>.Content>.ReplyFloor {
    grid-row-start: 3;

    color: black;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;

    padding-bottom: 1px;

    padding-left: 3px;
    padding-right: 3px;
    margin: auto;

    background: rgb(0, 180, 255, 1);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.4);
}