.CommentList {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.CommentList>.Box {
    display: grid;
    grid-template-columns: 50% 46% 4%;
    grid-template-rows: 22px 20px auto;

    padding: 4px;

    border-radius: 2px;
    margin: 4px;
}

.CommentList>.Box>.Name {
    justify-self: start;
    grid-column-start: 1;
    grid-column-end: 3;

    padding-left: 3px;

    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2em;
}

.CommentList .ReplyFloor {
    float: right;

    color: black;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 2px;
    padding-bottom: 1px;

    padding-left: 3px;
    padding-right: 3px;
    margin-left: 4px;
    margin-right: 4px;

    background: rgb(0, 180, 255, 1);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.4);
}

.CommentList .ReplyLogo {
    display: inline;

    margin-left: 4px;
    margin-right: 4px;
}

.CommentList .ReplyLogo::before {
    font-family: 'field-icon';
    font-size: 0.88em;
    color: rgb(255 159 0);
    content: "\e3020";
}

.CommentList>.Box>.Time {
    justify-self: right;
    grid-column-start: 2;
    grid-column-end: 4;

    font-size: 0.7em;
    color: rgba(0, 0, 0, 1);
}

.CommentList>.Box>.Email {
    justify-self: start;
    padding-left: 3px;

    font-size: 0.7em;
    text-align: right;
    color: rgba(170, 170, 170, 1);
}

.CommentList>.Box>.Floor {
    justify-self: end;
    grid-column-start: 3;

    height: 14px;
    width: 14px;

    font-size: 0.6em;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    line-height: 13px;

    border-radius: 2px;
}

.CommentList>.Box>.Content {
    grid-column-start: 1;
    grid-column-end: 4;

    font-size: 0.9em;
    text-align: left;

    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 2px;
}