#NavCol {
    color: rgba(230, 230, 230, 1.00);
}

#NavCol>.box {
    margin-bottom: 8px;
}

#NavCol>.box>.AvaBox {
    display: flex;

    height: 21vh;
    max-height: 160px;
    min-height: 130px;
}

#NavCol>.box>.AvaBox>.Ava-outline {
    margin: auto;
    display: flex;

    width: 11vw;
    height: 11vw;
    max-width: 104px;
    max-height: 104px;

    border-width: 2.6px;
    border-style: solid;
    border-radius: 100px;

    transition: all 0.2s ease;
}

#NavCol>.box>.AvaBox>.Ava-outline>.Ava {
    align-self: center;

    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;

    margin: auto;

    background: transparent url("http://thblog-img.test.upcdn.net/ui_img/p200.jpg");
    background-position: center;
    background-size: cover;

    border-radius: 100px;
}

#NavCol>.box>.Name {
    text-align: center;
    font-size: 21px;
}

#NavCol>.box>.Note {
    height: 6vh;
    max-height: 50px;
    min-height: 30px;
    width: 98%;

    font-size: 15px;

    text-align: center;
    font-size: 15px;

    margin: auto;
}

#NavCol>.box>.Note::before {
    align-self: center;

    margin-right: 6px;
    font-family: "field-icon";
    content: '\e3010';
    font-size: 12px;
}

#NavCol>.box>.Note::after {
    align-self: center;

    margin-left: 6px;
    font-family: "field-icon";
    content: '\e3003';
    font-size: 12px;
}

#NavCol>.List {
    display: grid;

    grid-template-columns: 1% 99%;
}

#NavCol>.List>.barBox>.bar {
    position: relative;

    height: 6vh;
    max-height: 50px;
    min-height: 28px;

    background-color: rgba(1, 153, 255, 1);
    border-radius: 2px;

    transition: all 0.2s ease;
}

#NavCol>.List>.box>.Card {
    display: flex;
    width: 94%;
    height: 6vh;
    max-height: 50px;
    min-height: 28px;

    margin-left: 2.4%;

    font-size: 17px;
    letter-spacing: 1px;
    color: rgba(230, 230, 230, 1.00);

    transition: all 0.2s ease;
}

#NavCol>.List>.box>.Card::after {
    align-self: center;

    margin-right: 3px;
    float: right;

    font-family: 'field-icon';
    content: "\e3013";
}

#NavCol>.List>.box>.Card>.contain {
    margin-right: auto;
    align-self: center;
    margin-left: 10px;
}

#NavCol>.Co-outline {
    display: flex;

    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;

    border-width: 1.4px;
    border-style: solid;
    border-radius: 4px;

    width: 94%;

    transition: all 0.2s ease;
}

#NavCol>.Co-outline>.Co {
    align-self: center;

    text-align: center;

    margin: auto;
    margin-top: 2px;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 17px;
}

/* 屏幕宽度 [ 1001 , + ) */
@media (min-width: 1001px) {
    #NavCol {
        width: 23%;
        min-width: 230px;
        max-width: 270px;

        position: fixed;
    }
}

/* 屏幕宽度 ( - , 1000 ] */
@media screen and (max-width: 1000px) {
    #NavCol {
        display: none;
    }
}