.arrow_up {
    background: transparent url("../img/arrow/arrow_up.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.arrow_down {
    background: transparent url("../img/arrow/arrow_down.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.BoxStrip {
    width: 22px;
    height: 34px;
    position: relative;
    float: right;
    background-position: top;
    background-size: contain;
    margin-right: 4%;
    margin-top: 0px;
}
.OrgStrip {
    background-image: url("../img/strip/strip_org.svg");
    background-repeat: no-repeat;
}
.BluStrip {
    background-image: url("../img/strip/strip_blu.svg");
    background-repeat: no-repeat;
}
.PrpStrip {
    background-image: url("../img/strip/strip_prp.svg");
    background-repeat: no-repeat;
}
.UsrPic {
    background: transparent url("../img/p128.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
