.LoadPostBtn {
	font-size: 24px;
	line-height: 24px;
    width: 100%;
    padding-bottom: 14px;
    margin-top: 50px;
    margin-bottom: 140px;
    position: relative;
    padding-top: 14px;
}
.LoadPostBtn {
text-align: center;
}
.LoadPostBtn::before {
	font-family: 'labelico';
	color: #FFFFFF;
	content: "\e3011"
}
.LoadPostBtn:hover {
    background-color: rgba(76,76,76,1.00);
}