.RandomBtn {
    text-align: center;
    font-size: 26px;
    color: #FFFFFF;
    background-color: rgba(57,57,57,1.00);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    float: left;
    width: 100%;
}
.RandomBtn:hover {
    color: #FFFFFF;
    background-color:rgba(76,76,76,1.00);
}
