.L {
    float: left;
}

.R {
    float: right;
}

.cur {
    cursor: pointer;
}

/* 屏幕宽度大于1000时 */
@media (min-width: 1000px) {
    .M {
        margin-bottom: 10px;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    .M {
        margin-bottom: 7px;
    }
}