<meta http-equiv="Content-type" Content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<base target="_blank">

<link rel="icon" href="~/user/theme/field3/com/ui/img/console.png" sizes="192x192">
<title>Thaumy的博客|又一个码农的家</title>

<link rel="stylesheet" href="~/user/theme/field3/com/ui/css/global.css">
<link rel="stylesheet" href="~/user/theme/field3/com/ui/css/dark.css">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/typed.js/2.0.10/typed.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>

<script src="~/user/theme/field3/com/ui/js/global.js"></script>



<!-- 泛生库引入 -->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/marked/0.8.0/marked.min.js"></script>
<!-- 主题脚本 -->
<script src="~/user/theme/field3/com/field.js"></script>
<!-- CNZZ -->
<div style="display:none">
    <script type="text/javascript" src="https://s19.cnzz.com/z_stat.php?id=1262285427&web_id=1262285427"></script>
</div>