a.wd-linked {
    color: #FFFFFF;
}
a.wd-linked:link {
    background: rgba(12,193,185,1.00);
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 4px;
    text-decoration: inherit;
}
a.wd-linked:hover {
    color: #2200FF;
    background: rgba(12,193,185,0.60);
    text-decoration: inherit;
}
.wd-heimu {
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 4px;
    color: rgba(73,73,73,1.00);
    background: rgba(73,73,73,1.00);
}
.wd-heimu:hover {
    color: #FFFFFF;
}
.wd-dt1,.wd-dt2,.wd-dt3,.wd-dt4{
	font-size: 15px;
	color: rgba(255,255,255,1.00);
	padding-left: 4px;
	padding-right: 4px;
	border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.wd-dt1 {
    background:rgba(27,128,212,1.00);
}
.wd-dt2 {
    background:rgba(0,167,0,1.00);
}
.wd-dt3 {
    background:rgba(217,25,114,1.00);
}
.wd-dt4 {
    background:rgba(134,95,197,1.00);
}
.wd-imgfull>img{
	width: 100%;
}