
<meta http-equiv="Content-type" Content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<base target="_blank">

<link rel="icon" href="~/ui/img/console.png" sizes="192x192">
<title>Thaumy的博客|又一个码农的家</title>


<link rel="stylesheet" href="~/ui/css/global.css">
<!-- 自动切换主题颜色 -->
@if (DateTime.Now.Hour >= 21 || DateTime.Now.Hour <= 7)
{
    <link rel="stylesheet" href="~/ui/css/dark.css">
}
else
{
    <link rel="stylesheet" href="~/ui/css/white.css">
}

<!-- vuetify -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
<link rel="stylesheet" href="@Html.Raw("https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css")">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.18/dist/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qs@6.9.4/dist/qs.js"></script>

<script src="https://cdn.bootcss.com/typed.js/2.0.10/typed.min.js"></script>

<!-- hljs -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.0/build/styles/vs2015.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.0/build/highlight.min.js"></script>

<script src="~/ui/js/global.js"></script>

<!-- jq -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!-- pala theme -->
<script src="~/field.js"></script>
<!-- CNZZ -->
<div style="display:none">
    <script src="https://s19.cnzz.com/z_stat.php?id=1262285427&web_id=1262285427"></script>
</div>

<!-- 版权绘 -->
<script>
    const a =
        'background:#FFA500; padding:4px 0px 4px 0px; font-family:\'Source Sans Pro\'; color:#fff; border-radius: 3px 0 0 3px;'
    const b =
        'background:#606060; padding:4px 0px 4px 0px; font-family:\'Source Sans Pro\'; color:#fff; border-radius: 0 3px 3px 0;'

    $.post("/guest/Get_core_version",
        function (data) {
            console.log("%c  Core  %c  WaterLibrary " + data + "  ", a, b)
        });
    console.log("%c  pilipala  %c  beta9  ", a, b)
    console.log("%c  Theme  %c  Field  ", a, b)
</script>

<!-- 下雪
<script type="text/javascript" src="~/ui/js/more/snow.min.js"></script>
<script>
    $.fn.snow({
        minSize: 14,
        maxSize: 14,
        newOn: 800,
        flakeColor: "#ffffff"
    });
</script>-->
