<meta http-equiv="Content-type" Content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<base target="_blank">

<link rel="icon" href="~/user/theme/field3/com/ui/img/console.png" sizes="192x192">
<title>Thaumy的博客|又一个码农的家</title>

<link rel="stylesheet" href="~/user/theme/field3/com/ui/css/global.css">

<!-- 自动切换主题颜色 -->
@if (DateTime.Now.Hour >= 20 || DateTime.Now.Hour <= 7)
{
    <link rel="stylesheet" href="~/user/theme/field3/com/ui/css/dark.css">
}
else
{
    <link rel="stylesheet" href="~/user/theme/field3/com/ui/css/white.css">
}


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/typed.js/2.0.10/typed.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>

<script src="~/user/theme/field3/com/ui/js/global.js"></script>

<!-- 版权绘 -->
<script>
    let c =
        'background:#00CED1; padding:10px 20px 12px 20px; font-family:\'Source Sans Pro\'; font-size:22px; color:#fff; border-radius: 3px 0 0 3px;'
    let d =
        'background:#1E90FF; padding:10px 20px 12px 20px; font-family:\'Source Sans Pro\'; font-size:22px; color:#fff; border-radius: 0 3px 3px 0;'
    console.log(`%c 噼哩啪啦 %cBETA 8`, c, d)
</script>
<script>
    let a =
        'background: #FFA500; padding:4px 10px 4px 10px; font-family:\'Source Sans Pro\'; color: #fff; border-radius: 3px 0 0 3px;'
    let b =
        'background: #606060; padding:4px 10px 4px 10px; font-family:\'Source Sans Pro\'; color: #fff; border-radius: 0 3px 3px 0;'
    console.log(`  %cTheme%c氛V3 Designed By Thaumy`, a, b)
</script>

<!-- jq -->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!-- 主题脚本 -->
<script src="~/user/theme/field3/com/field.js"></script>
<!-- CNZZ -->
<div style="display:none">
    <script type="text/javascript" src="https://s19.cnzz.com/z_stat.php?id=1262285427&web_id=1262285427"></script>
</div>
<!-- 阿里云Captcha -->
<script type="text/javascript" charset="utf-8" src="https://g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script>