.OrgStrip::before, .BluStrip::before, .PrpStrip::before {
    font-family: 'labelico';
    content: '\e3009';
    font-size: 30px;
    position: relative;
    float: right;
    background-position: top;
    background-size: contain;
    margin-right: 30px;
    margin-top: 0px;
}
.OrgStrip::before {
    color: rgba(236,146,17,1.00);
}
.BluStrip::before {
    color: rgba(12,193,185,1.00);
}
.PrpStrip::before {
    color: purple;
}
.Avatar {
    background: transparent url("../ui_img/p256.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
