.CardCol>.Card {
    width: 100%;

    background: rgba(245, 245, 245, 1);
    background: url("../../ui_img/gezi.jpg") fixed;
}

.CardCol>.Card>.contain {
    width: 100%;
}

.CardCol>.Card>.contain>.Title {
    font-size: 24px;
    line-height: 24px;

    padding-left: 8px;
    padding-bottom: 5px;
}

.CardCol>.Card>.contain>img {
    margin-bottom: -5px;
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .CardCol>.Card>.contain>.Title {
        padding-top: 8px;
    }
}

/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .CardCol>.Card>.contain>.Title {
        padding-top: 6px;
    }
}

.CardCol>.Card>.contain>.Summary {
    color: rgba(79, 89, 89, 1.00);
    font-size: 15px;
    line-height: 15px;

    padding-left: 16px;
    padding-bottom: 5px;
}

.CardCol>.Card>.contain>.Content {
    background: rgba(245, 245, 245, 1);
    padding: 4px;
    font-size: 18px;
}

.CardCol>.Card>.contain>.Content>img {
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0.4px rgba(0, 0, 0, 0.3);
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .CardCol {
        width: 73%;
        max-width: 1000px;
    }
}

/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .CardCol {
        width: 100%;
    }
}