.NavCol {
    color: rgba(250, 250, 250, 1.00);
}

.NavCol>.contain {
    padding-top: 60px;

    box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.4);
}

.NavCol>.contain>div {
    margin: auto;
}

.NavCol>.contain>.Avatar {
    width: 124px;
    height: 124px;

    margin-bottom: 40px;

    background: transparent url("../../ui_img/p256.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    border-radius: 100px;
}

.NavCol>.contain>.Name {
    width: 94%;
    text-align: center;
    font-size: 22px;
}

.NavCol>.contain>.JieShao {
    width: 98%;
    text-align: center;
    font-size: 17px;

    margin-top: 12px;

    padding-top: 12px;
    padding-bottom: 24px;
}

.NavCol>.contain>.JieShao::before {
    margin-right: 6px;
    font-family: "labelico";
    content: '\e3010';
    font-size: 12px;
}

.NavCol>.contain>.JieShao::after {
    margin-left: 6px;
    font-family: "labelico";
    content: '\e3003';
    font-size: 12px;
}

.NavCol>.List {
    margin-top: 8px;
}

.NavCol>.List>.Card {
    width: 94%;
    height: 52px;
    display: flex;

    margin: auto;

    margin-bottom: 8px;

    font-size: 17px;
    letter-spacing: 1px;

    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.NavCol>.List>.Card:hover {
    background: rgba(41, 41, 41, 1);

    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.NavCol>.List>.Card::after {
    align-self: center;
    margin-right: 3px;

    font-family: 'labelico';
    content: "\e3013";
}

.NavCol>.List>.Card>.contain {
    margin-right: auto;
    align-self: center;
    margin-left: 10px;
}

.NavCol>.Co {
    width: 88%;
    text-align: center;

    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;

    color: #FFFFFF;
    font-size: 12px;
    line-height: 17px;
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .NavCol {
        width: 26%;
        max-width: 307px;
    
        position: fixed;
    }
}
/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .NavCol {
        display: none;
    }
}