.RandomBtn {
    text-align: center;
    font-size: 26px;
    color: #FFFFFF;
    background-color: rgba(127,127,127,0.86);
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    float: left;
    width: 100%;
}
.RandomBtn:hover {
    color: #FFFFFF;
    background-color: #9B8484;
}
