.AtBox {
    width: 100%;

    color: rgba(110, 110, 110, 1.00);
}

.AtBox>div {
    width: 21%;
    float: left;

    text-align: center;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3px;
    margin-bottom: 1px;

    border-radius: 4px;
}

/* 屏幕宽度大于1000时 */
@media (min-width: 1000px) {
    .AtBox>div {
        font-size: 14px;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    .AtBox>div {
        font-size: 12px;
    }
}

.AtBox>div::before {
    font-family: 'labelico';
    padding-right: 6px;
}

.AtBox>.Comment,
.AtBox>.Star {
    background: rgba(245, 245, 245, 1);

    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.AtBox>.Date::before {
    content: "\e3007";
}

.AtBox>.Pv::before {
    content: "\e3008";
}

.AtBox>.Comment::before {
    content: "\e3010";
}

.AtBox>.Star::before {
    color: rgba(255, 255, 255, 0.5);
    content: "\e3014";
}

.AtBox>.Time::before {
    content: "\e3004";
}

.AtBox>.Archive::before {
    content: "\e3001";
}

.AtBox>.Tag::before {
    content: "\e3006";
}
