.NavCol {
    color: rgba(250, 250, 250, 1.00);
}

.NavCol>.contain {
    padding-top: 5.6vmin;

    box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.4);
}

.NavCol>.contain>div {
    margin: auto;
}

.NavCol>.contain>.Avatar {

    width:10vw;
    height: 10vw;
    max-width: 110px;
    max-height: 110px;

    margin-bottom: 4vmin;
    
    background: transparent url("http://thblog-img.test.upcdn.net/ui_img/p200.jpg");
    background-position: center;
    background-size: cover;

    border-radius: 100px;
}

.NavCol>.contain>.Name {
    width: 94%;
    text-align: center;
    font-size: 21px;
}

.NavCol>.contain>.JieShao {
    width: 98%;
    text-align: center;
    font-size: 17px;

    padding-top: 3vmin;
    padding-bottom: 3vmin;
}

.NavCol>.contain>.JieShao::before {
    margin-right: 6px;
    font-family: "labelico";
    content: '\e3010';
    font-size: 12px;
}

.NavCol>.contain>.JieShao::after {
    margin-left: 6px;
    font-family: "labelico";
    content: '\e3003';
    font-size: 12px;
}

.NavCol>.List {
    margin-top: 8px;
}

.NavCol>.List>.Card {
    width: 94%;
    height: 8vh;
    max-height: 50px;
    display: flex;

    margin: auto;

    margin-bottom: 8px;

    font-size: 17px;
    letter-spacing: 1px;

    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.NavCol>.List>.Card:hover {
    background: rgba(41, 41, 41, 1);

    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.NavCol>.List>.Card::after {
    align-self: center;
    margin-right: 3px;

    font-family: 'labelico';
    content: "\e3013";
}

.NavCol>.List>.Card>.contain {
    margin-right: auto;
    align-self: center;
    margin-left: 10px;
}

.NavCol>.Co {
    width: 88%;
    text-align: center;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 12px;

    color: #FFFFFF;
    font-size: 12px;
    line-height: 17px;
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .NavCol {
        width: 23%;
        min-width: 230px;
        max-width: 280px;
    
        position: fixed;
    }
}
/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .NavCol {
        display: none;
    }
}