.Reg {
    font-size: 22px;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

    background-color: rgb(120, 120, 120);

    border-style: dotted;
    border-width: 1px;
    border-color: rgb(80, 80, 80);
}

.CommitBtn {
    font-size: 22px;

    background-color: rgb(120, 120, 120);

    border-style: dotted;
    border-width: 1px;
    border-color: rgb(80, 80, 80);
}

.ID {
    font-family: 'Source Sans Pro';
    background-color: rgb(200, 200, 200);
}