.Release {

    font-size: 22px;
    text-align: center;

    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: rgb(120, 120, 120);

    border-style: dotted;
    border-width: 1px;
    border-color: rgb(80, 80, 80);
}