.Update {
    font-size: 22px;
    text-align: center;

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;

    background-color: rgb(120, 120, 120);

    border-style: dotted;
    border-width: 1px;
    border-color: rgb(80, 80, 80);
}

.Title,
.Mode,
.Type,
.Summary,
.Archiv,
.Label,
.Content,
.StarCount,
.UVCount,
.Cover {
    font-family: 'Source Sans Pro';
    background-color: rgb(200, 200, 200);
}


.Title {}

.Mode {}

.Type {}

.Summary {}

.Archiv {}

.Label {}

.Content {}

.StarCount {}

.UVCount {}

.Cover {}