.LoadPostBtn {
    width: 100%;
    background-color: rgba(127,127,127,0.86);
    padding-bottom: 1%;
    margin-top: 6%;
	margin-bottom: 20%;
    position: relative;
    padding-top: 1%;
}
.LoadPostBtn:hover {
    background-color: #9B8484;
}
.LoadPostBtn_pic {
    width: 26px;
    height: 26px;
    position: relative;
    margin: auto;
}
