.NaviCard:hover {
    background: rgba(41,41,41,1.00);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.NaviCardTitle {
    line-height: 18px;
    font-size: 15.5px;
    color: #FFFFFF;
    float: left;
    margin-right: auto;
    margin-left: 5%;
    text-align: center;
}
.CoMark {
    width: 88%;
    text-align: center;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    line-height: 17px;
}
.NaviCard::after {
    align-self: center;
    margin-right: 5px;
    color: #FFFFFF;
    font-family: "labelico";
    content: '\e3013';
}

@media only screen and (min-width: 1025px) {
.NaviCardBox {
    z-index: -1;
    width: 100%;
    padding-bottom: 14px;
    padding-top: 10px;
}
.CoMark {
    font-size: 12px;
    margin-top: 14px;
}
.NaviCard {
    width: 92%;
    margin-bottom: 8px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (max-width: 1024px) {
.NaviCardBox {
    padding-top: 20%;
    display: none;
    width: 70%;
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 12px;
}
.CoMark {
    font-size: 12px;
    margin-top: 6%;
    margin-bottom: 6%;
}
.NaviCard {
    width: 96%;
    margin-bottom: 6px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
}
}
