.Btn_like:before {
    content: '\e3002';
}
.Btn_like {
    color: #FFFFFF;
    background: rgba(255,185,58,1.00);
}
.Btn_like:hover {
    color: #6E6E6E;
    background: rgba(255,185,58,0.40);
}
.Btn_comment:before {
    content: '\e3003';
}
.Btn_comment {
    color: #FFFFFF;
    background: rgba(40, 200, 225,1.00);
}
.Btn_comment:hover {
    color: #6E6E6E;
    background: rgba(40, 200, 225,0.40);
}
