
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<base target="_blank">
<title>Thaumy的小破站|又一个码农的家</title>

<link rel="stylesheet" href="/pala_custom/theme/field2/cut/ui_css/global.css">
<link rel="stylesheet" href="/pala_custom/theme/field2/cut/ui_css/basic.css">
<link rel="stylesheet" href="/pala_custom/theme/field2/cut/ui_css/Box.css">
<link rel="stylesheet" href="/pala_custom/theme/field2/cut/ui_css/Btn.css">

<link rel="stylesheet" href="/pala_custom/theme/field2/cut/ui_css/more/vs2015.css">


<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/2.0.10/typed.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/marked/0.8.0/marked.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>

<script type="text/javascript" src="/pala_custom/theme/field2/cut/ui_js/basic.js"></script>
<script type="text/javascript" src="/pala_custom/theme/field2/cut/ui_js/more/snow.min.js"></script>
<script type="text/javascript" src="/pala_custom/theme/field2/web_js/basic.js"></script>

