/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    #CardCol {
        width: 76%;
        max-width: 1100px;
    }

    #CardCol>.Col>.Card>.contain>.Title {
        padding-top: 12px;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    #CardCol {
        width: 100%;
    }

    #CardCol>.Col>.Card>.contain>.Title {
        padding-top: 10px;
    }
}

#CardCol>.Col>.Card {
    width: 100%;

    /* 颜色模式 */
    background: rgba(40, 40, 40, 1.00);
}

#CardCol>.Col>.Card>.contain {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    /* 颜色模式 */
    background: rgba(30, 30, 30, 1.00);
}

#CardCol>.Col>.Card>.contain>.Title {
    font-size: 24px;
    line-height: 24px;

    padding-left: 12px;
    padding-bottom: 8px;

    /* 颜色模式 */
    color: rgba(240, 240, 240, 1.00);
}

#CardCol>.Col>.Card>.contain>img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: -5px;
}

#CardCol>.Col>.Card>.contain>.Summary {
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    padding-left: 18px;
    padding-right: 18px;

    margin-bottom: 8px;

    /* 颜色模式 */
    color: rgba(210, 210, 210, 1.00);
}

#CardCol>.Col>.Card>.contain>.Content {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;

    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    word-break: break-word;

    /* 颜色模式 */
    color: rgba(240, 240, 240, 1.00);
    background: rgba(30, 30, 30, 1.00);
}

#CardCol>.Col>.Card>.contain>.NoteContent {
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    word-break: break-word;

    /* 颜色模式 */
    color: rgba(170, 170, 170, 1.00);
    background: rgba(30, 30, 30, 1.00);
}

#CardCol>.Col>.Card>.contain>.Content>img,
#CardCol>.Col>.Card>.contain>.NoteContent>img {
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0.4px rgba(0, 0, 0, 0.3);
}