.CoBox {
    width: 100%;

    font-size: 16px;
    color: rgba(250, 250, 250, 1.00);

    border-radius: 4px;

    /* 颜色模式 */
    background: rgba(30, 30, 30, 1.00);
}

.CoBox>.AtBox>.StarCount {
    color: rgba(250, 250, 250, 1.00);

    /* 颜色模式 */
    background: rgba(0,169,161,1);
}

.CoBox>.AtBox>.CommentCount {
    color: rgba(250, 250, 250, 1.00);

    /* 颜色模式 */
    background: rgba(1, 153, 255, 1);
}

.CoBox>.text_auth {
    margin-top: 6px;
    margin-left: 10px;

    letter-spacing: 1px;
    margin-right: 0;
}

.CoBox>.text_mId {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 14px;
    margin: 6px;

    border-radius: 4px;
}

.CoBox>.text_mId::before {
    font-family: 'labelico';
    content: "\e3015";

    display: table-cell;
}