.CommentBox {
    width: 100%;

    padding-top: 10px;
    padding-bottom: 6px;
    margin-bottom: 64px;

    text-align: center;
    font-size: 22px;
    line-height: 18px;

    position: relative;

    /* 颜色模式 */
    color: rgba(240, 240, 240, 1.00);
    background: rgba(40, 40, 40, 1.00);
}