.GuideBox {
    width: 20%;
    position: fixed;
    min-width: 218px;
    max-width: 316px;
}
.GuideHead {
    background-color: #494949;
    width: 100%;
    padding-top: 15%;
    padding-right: inherit;
    padding-bottom: 0%;
    position: relative;
}
.UserAvatar{
    border-radius: 64px;
    width: 128px;
    height: 128px;
    margin-right: auto;
    margin-left: auto;
}
.UserTitle {
    background-color: transparent;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 88%;
    margin-top: 15%;
    margin-left: auto;
    margin-bottom: 0%;
    position: relative;
    margin-right: auto;
}
.UserMottoBox {
    background-color: #7F7F7F;
    width: 100%;
    padding-bottom: 7%;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    
    font-weight: 300;
    position: relative;
    margin-top: 8%;
    padding-top: 7%;
}
.UserMotto{
    margin-right: auto;
    margin-left: auto;
    width: 88%;
}
