.GuideList {
    background: linear-gradient(to bottom, rgba(52, 52, 52,0.6), #494949 12px);
    width: 100%;
    padding-bottom: 6%;
    position: relative;
    background-color: #494949;
    padding-top: 6%;
}
.GuideListCard {
    width: 88%;
    position: relative;
    background-color: #343434;
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 1%;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
}
.GuideListCard:hover {
    background-color: #3C3C3C;
}
.GuideListCard_title {
    line-height: 19px;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;

    float: left;
    margin-right: auto;
    margin-left: 5%;

}

.CopyrightMark {
    width: 88%;
    position: relative;
	line-height: 6px;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
}
