.CardCol>.Card {
    width: 100%;
    background: url("http://thblog-img.test.upcdn.net/ui_img/gezi.jpg");
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .CardCol>.Card {
        background-size: 20px 20px;
    }
}

/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .CardCol>.Card {
        background-size: 14px 14px;
    }
}
.CardCol>.Card>.contain {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.CardCol>.Card>.contain>.Title {
    font-size: 24px;
    line-height: 24px;

    padding-left: 12px;
    padding-bottom: 8px;
}

.CardCol>.Card>.contain>img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: -5px;
}

.CardCol>.Card>.contain>.Summary {
    color: rgba(79, 89, 89, 1.00);
    font-size: 15px;
    line-height: 15px;

    padding-left: 18px;
    padding-bottom: 12px;
}

/* 屏幕宽度大于1000时 */
@media (min-width: 1000px) {
    .CardCol>.Card>.contain>.Title {
        padding-top: 12px;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    .CardCol>.Card>.contain>.Title {
        padding-top: 10px;
    }
}

.CardCol>.Card>.contain>.Content {
    background: rgba(245, 245, 245, 1);
    padding: 4px;

    font-size: 18px;
    line-height: 28px;
    word-break: break-word;
}

.CardCol>.Card>.contain>.Content>img {
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0.4px rgba(0, 0, 0, 0.3);
}

/* 屏幕宽度大于1000时 */
@media screen and (min-width: 1000px) {
    .CardCol {
        width: 73%;
        max-width: 1000px;
    }
}

/* 屏幕宽度小于1000时 */
@media screen and (max-width: 1000px) {
    .CardCol {
        width: 100%;
    }
}