body>.contain {
    margin: auto;
    max-width: 1320px;

    padding-top: 12px;
    padding-bottom: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    background: url("http://thblog-img.test.upcdn.net/ui-background/pc.jpg") fixed;

    background-size: cover;
}

@import url('https://fonts.font.im/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.font.im/css?family=Ubuntu+Mono');

@font-face {
    font-family: 'labelico';
    src: url('../ui_img/labelico/labelico.eot'), url('../ui_img/labelico/labelico.woff'), url('../ui_img/labelico/labelico.svg');
}