.Tran {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

@media only screen and (min-width: 1025px) {
.MagnT {
    margin-top: 12px;
}
.MagnB {
    margin-bottom: 12px;
}
}

@media only screen and (max-width: 1024px) {
.MagnT {
    margin-top: 8px;
}
.MagnB {
    margin-bottom: 8px;
}
}
.bSha {
    box-shadow: 0px 0px 3px 0.2px rgba(0,0,0,0.4);
}
.RdiuT {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.RdiuB {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.fltL {
    float: left;
}
.fltN {
    float: none;
}
.flx {
    display: flex;
}
.flxC{
    align-self: center;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    style: none;
}
a:visited {
    style: none;
}
.cur {
    cursor: pointer;
}
.pic-m{
	width: 40%;
}
.pic-l{
	width: 60%;
}
.pic-max{
	width: 100%;
}
.pSha img{
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	box-shadow: 0px 0px 6px 0.3px rgba(0,0,0,0.3);
}
.blk50{
	background:rgba(50,50,50,1.00);
}