
@media only screen and (min-width: 1025px) {
.main {
    margin-left: auto;
    padding-top: 30px;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 33%;
    margin-right: auto;
    width: 1024px;
}
body {
    background: url("http://thblog-img.test.upcdn.net/ui-background/pc.jpg") fixed;
	background-size: cover;
}
}

@media only screen and (max-width: 1024px) {
.main {
    margin-left: auto;
    padding-top: 1%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    margin-right: auto;
    width: 98%;
}
body {
    background: url("http://thblog-img.test.upcdn.net/ui-background/mobile.jpg") fixed;
	background-size: contain;
}
}
html::-webkit-scrollbar {
 display: none;
}
body {
	background-repeat: repeat;
	background-position: center;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 3px;
    background-color: #980000;
    text-align: center;
}
pre {
    word-break: break-all;
    white-space: pre-wrap;
}
