.glass {
    background: rgba(255,255,255,0.3);
    overflow: hidden;
}
.glass:before {
    filter: blur(20px);
}
.Tran {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

@media only screen and (min-width: 1025px) {
.MagnT {
    margin-top: 14px;
}
.MagnB {
    margin-bottom: 14px;
}
}

@media only screen and (max-width: 1024px) {
.MagnT {
    margin-top: 8px;
}
.MagnB {
    margin-bottom: 8px;
}
}
.Shadow {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07), 0px 0px 5px rgba(0, 0, 0, 0.07);
}
.RdiuT {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.RdiuB {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fltL {
    float: left;
}
.fltN {
    float: none;
}
.flx {
    display: flex;
}
.flx_center {
    align-self: center;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    style: none;
}
a:visited {
    style: none;
}
