@using WaterLibrary.pilipala;
@using WaterLibrary.pilipala.Component;

@inject ComponentFactory compoFty

@{
    CommentLake CommentLake = compoFty.GenCommentLake();
}

<div id="NavLine" class="L M bSha">
    <div class="contain cur bRds" onclick="up();showPost(12387, '我');">
        <img class="Avatar bSha" src="http://q1.qlogo.cn/g?b=qq&nk=1951327599&s=640">
        <div class="Name">THAUMY的小站</div>
    </div>
    <div class="SiderBtn R cur" onclick="ListToggle()"></div>
</div>

<div id="SiderList" class="bSha">
    <m-card v-for="d in List" v-bind:item="d" v-bind:key="d.index"></m-card>

    <div class="Co cur" onclick="up();showPost(12388, '关于博客');ListToggle()">
        THAUMY的博客©2016-2020保留所有权利<br>
        基于pilipala构建<br>
        Field Theme Designed By Thaumy<br>
    </div>
</div>

<div class="Shadow" onclick="ListToggle()"></div>

<!-- vue导航组件 -->
<script>
    Vue.component('m-card', {
        props: ['item'],
        template: '<div class="Card cur bRds" v-on:click="m_card_click(item.ID)" :key="item.index"><div class="contain">{{item.Title}}</div></div>',
        methods: {
            m_card_click: function (ID) {
                up();
                ListToggle();

                showPost(ID);

                AvaOutline.style = {
                    'border-color': 'rgba(0,0,0,0)'
                }
                CoOutline.style = {
                    'border-color': 'rgba(0,0,0,0)'
                }
            }
        }
    })
</script>

