.RandomBtn {
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.RandomBtn:hover {
    color: #FFFFFF;
    background-color: rgba(70,70,70,1.00);
}
.nxtBtn, .pvsBtn {
    color: rgba(1,153,255,1.00);
    font-size: 17px;
    line-height: 17px;
    margin-top: 3px;
    margin-bottom: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nxtBtn::before, .pvsBtn::after {
    font-family: 'labelico';
    font-size: 14px;
    color: rgba(1,153,255,1.00);
}
.nxtBtn::before {
    content: "\e3012";
}
.pvsBtn::after {
    content: "\e3013";
}
