
@media only screen and (min-width: 1025px) {
.NaviCol {
    width: 302px;
    position: fixed;
}
.NaviHead {
    overflow: hidden;
    width: 100%;
    padding-top: 14%;
    padding-right: inherit;
    position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    background: rgba(73,73,73,1);
	
}
.SiteSummary {
    background-color: transparent;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 88%;
    margin-top: 14%;
    margin-left: auto;
    margin-bottom: 0%;
    position: relative;
    margin-right: auto;
}
.UsrMto {
    background-color: rgba(120,120,120,0.9);
    width: 100%;
	margin-top: 7%;
	margin-left: auto;
	margin-right: auto;
    padding-bottom: 6%;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    padding-top: 6%;
}
.ShowNaviCardBoxBtn {
    display: none;
}
}

@media only screen and (max-width: 1024px) {
.NaviBoxCol {
    width: 100%;
}
.NaviHead {
	border-radius: 10px;
    width: 100%;
    padding-top: 6%;
	background: rgba(73,73,73,1);
	margin-bottom: 8px;
}
.SiteSummary {
    background-color: transparent;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 88%;
    position: relative;
    margin: auto;
	margin-top: 5%;
    margin-bottom: 5%;
}
.UsrMto {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(60,60,60,1);
    width: 100%;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 16px;
    padding-top: 16px;
}
.ShowNaviBtn {
	width: 60px;
    height: 40px;
	border-radius: 30px;
	background-color: rgba(110,110,110,1);
	box-shadow: 0px 0px 3px 0.2px rgba(0,0,0,0.4);
	z-index: 2;
    position: fixed;
    float: right;
    right: 6%;
    background-image: url("../../img/arrow/arrowDn.svg");
    background-position: center;
	background-size: 26px;
    background-repeat: no-repeat;
}
}
.UsrPic {
    border-radius: 64px;
    width: 128px;
    height: 128px;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.UsrPic:hover {
    box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.3), 0px 0px 0px rgba(255, 255, 255, 0.3);
    transition-duration: 0.1s;
    transition-timing-function: ease;
}
