.bRds {
    border-radius: 4px;
}

.bRds-b {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bRds-t {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bSha {
    box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.4);
}
