@font-face {
    font-family: 'field-icon';
    src: url('../../img/field-icon/field-icon.eot'), url('../../img/field-icon/field-icon.woff'), url('../../img/field-icon/field-icon.svg');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('https://cn.vuejs.org/fonts/Roboto_Mono/RobotoMono-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://cn.vuejs.org/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-display: swap;
}