.AtBox {
    overflow: hidden;
    width: 100%;

    padding-top: 3px;
    padding-bottom: 3px;
}

.CoBox>.AtBox {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* 屏幕宽度 [ 1001 , + ) */
@media (min-width: 1001px) {
    .AtBox {
        background-size: 20px 20px;
    }
}

/* 屏幕宽度 ( - , 1000 ] */
@media (max-width: 1000px) {
    .AtBox {
        background-size: 14px 14px;
    }
}

.AtBox>div {
    width: 21%;
    float: left;

    text-align: center;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2px;
    margin-bottom: 2px;

    border-radius: 4px;
}

/* 屏幕宽度 [ 1001 , + ) */
@media (min-width: 1001px) {
    .AtBox>div {
        font-size: 0.8em;
    }
}

/* 屏幕宽度 ( - , 1000 ] */
@media (max-width: 1000px) {
    .AtBox>div {
        font-size: 0.6em;
    }
}

.AtBox>div::before {
    font-family: 'field-icon';
    padding-right: 6px;
}

.AtBox>.CommentCount,
.AtBox>.StarCount {
    transition: all 0.2s ease;
}

.AtBox>.Date::before {
    content: "\e3007";
}

.AtBox>.UVCount::before {
    content: "\e3008";
}

.AtBox>.CommentCount::before {
    content: "\e3010";
}

.AtBox>.StarCount::before {
    content: "\e3014";
}

/* CoBox里的星星有不同的样式 */
.CoBox>.AtBox>.StarCount::before {
    content: "\e3014";
}

.AtBox>.Time::before {
    content: "\e3004";
}

.AtBox>.Archiv::before {
    content: "\e3001";
}

.AtBox>.Label::before {
    content: "\e3006";
}