.b50 {
    background: rgba(50, 50, 50, 1.00);
}
.b55 {
    background: rgba(55, 55, 55, 1.00);
}
.w250 {
    background: rgba(250, 250, 250, 1.00);
}


.L {
    float: left;
}
.R {
    float: right;
}


/* 屏幕宽度大于1000时 */
@media (min-width: 1000px) {
    .M {
        margin-bottom: 12px;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    .M {
        margin-bottom: 7px;
    }
}


.bSha {
    box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.4);
}
.bRds {
    border-radius: 4px;
}


.pS {
    width: 30%;
}
.pM {
    width: 40%;
}
.pL {
    width: 60%;
}
.pXL {
    width: 100%;
}


.cur {
    cursor: pointer;
}






/* 基元素类样式 */
blockquote {
    color: #666;
    border-left: 4px solid rgba(0, 120, 215, 1);
    background: rgba(255, 255, 255, 1);

    padding-left: 20px;
    margin-left: 0;
    margin-right: 0;
}

table {
    width: 100%;
    box-shadow: 0px 0px 4px 0.4px rgba(0, 0, 0, 0.3);
}

thead{
    background-color: rgba(255, 165, 0, 1);
}

tr{
    line-height: 24px;
}

th{
    font-size: 15px;
    color: white;
    font-weight: 300;
}

td {
    font-size: 14px;
    line-height: 20px;
    padding-left: 12px;
}