a.mk-linked {
    color: #FFFFFF;
}
a.mk-linked:link {
    background: rgba(40,200,225,1.00);
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 4px;
    text-decoration: inherit;
}
a.mk-linked:hover {
    color: #2200FF;
    background: rgba(40,200,225,0.40);
    text-decoration: inherit;
}
.mk-blabla {
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 4px;
    color: rgba(73,73,73,1.00);
    background: rgba(73,73,73,1.00);
}
.mk-blabla:hover {
    color: #FFFFFF;
}
.mk-bug {
    font-size: 16px;
    padding-left: 4px;
    padding-right: 8px;
    margin-right: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgba(255,255,255,1.00);
    background: rgba(205,21,84,1.00);
}
.mk-debug {
    font-size: 16px;
    padding-left: 4px;
    padding-right: 8px;
    margin-right: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgba(255,255,255,1.00);
    background: rgba(119,220,48,1.00);
}
.mk-date {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgba(255,255,255,1.00);
    background: rgba(60,60,60,1.00)
}
.mk-update {
    font-size: 16px;
    padding-left: 4px;
    padding-right: 8px;
    margin-right: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgba(255,255,255,1.00);
    background: rgba(12,193,185,1.00);
}
.mk-mt {
    font-size: 16px;
    padding-left: 4px;
    padding-right: 8px;
    margin-right: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgba(255,255,255,1.00);
    background: rgba(236,146,17,1.00);
}
.mk-word {
	font-size: 16px;
    padding-right: 4px;
    margin-right: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgba(255,255,255,1.00);
    background: rgba(60,60,60,1.00);
}
