.arrowUp {
    background-image: url("../img/arrow/arrowUp.svg");
    background-position: center;
    background-repeat: no-repeat;
	width: 26px;
	height: 26px;
}
.arrowDn {
    background-image: url("../img/arrow/arrowDn.svg");
    background-position: center;
    background-repeat: no-repeat;
	width: 26px;
	height: 26px;
}
.Strip {
    width: 22px;
    height: 34px;
    position: relative;
    float: right;
    background-position: top;
    background-size: contain;
    margin-right: 4%;
    margin-top: 0px;
}
.OrgStrip {
    background-image: url("../img/strip/strip_org.svg");
    background-repeat: no-repeat;
}
.BluStrip {
    background-image: url("../img/strip/strip_blu.svg");
    background-repeat: no-repeat;
}
.PrpStrip {
    background-image: url("../img/strip/strip_prp.svg");
    background-repeat: no-repeat;
}
.UsrPic {
    background: transparent url("../img/p256.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
