.LabelBox {
    font-family: 'LabelBoxFont';
    color: #999999;
    width: 100%;
    position: relative;
    padding-bottom: 6px;
    background: rgba(255,255,255,0.86);
    font-size: 12px;
    font-weight: 400;
}
.ClassLabel, .TimeLabel, .PvLabel, .TagLabel, .CommentLabel, .LikeLabel,.LikeBtn, .CommentBtn {
    width: 20%;
    float: left;
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 2%;
    margin-right: 2%;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    text-align: center;
}

@media only screen and (min-width: 1025px) {
.CommentLabel, .LikeLabel{
    background: rgba(230,230,230,1.00);
}
}

@media only screen and (max-width: 1024px) {
.CommentLabel, .LikeLabel {
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-left: 2.4%;
    padding-right: 2.4%;
    background: rgba(230,230,230,1.00);
}
}
.ClassLabel:hover, .TimeLabel:hover, .PvLabel:hover, .TagLabel:hover {
    color: rgba(100,100,100,1.00);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.ClassLabel:before {
    padding-right: 4%;
    content: '\e3001';
}
.CommentLabel:before {
    padding-right: 4%;
    content: '\e3003';
}
.LikeLabel:before {
    padding-right: 4%;
    content: '\e3002';
}
.TimeLabel:before {
    padding-right: 4%;
    content: '\e3007';
}
.PvLabel:before {
    padding-right: 4%;
    content: '\e3008';
}
.TagLabel:before {
    padding-right: 4%;
    content: '\e3006';
}
