
@media only screen and (min-width: 1025px) {
.NaviCardBox {
	z-index: -1;
    width: 100%;
	background: rgba(73,73,73,0.94);
    padding-bottom: 14px;
    position: relative;
	padding-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.CoMark {
    line-height: 20px;
    font-size: 12px;
    margin-top: 5%;
}
.NaviCard {
    width: 94%;
    position: relative;
    background-color:rgba(60,60,60,1.00);
    margin-bottom: 8px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (max-width: 1024px) {
.NaviCardBox {
    display: none;
    background-color: rgba(73,73,73,0.96);
    z-index: 1;
    position: fixed;
    border-radius: 10px;
    width: 98%;
    padding-bottom: 10px;
    margin-bottom: 8px;
    padding-top: 20%;
}
.CoMark {
    line-height: 16px;
    font-size: 12px;
    margin-top: 6%;
    padding: 2%;
}
.NaviCard {
    width: 90%;
    position: relative;
    background-color:rgba(60,60,60,0.94);
    margin-bottom: 8px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
	
}
}
.NaviCard:hover {
    background-color: rgba(90,90,90,0.90);
}
.NaviCardTitle {
    line-height: 18px;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
    float: left;
    margin-right: auto;
    margin-left: 5%;
}
.CoMark {
    width: 88%;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
}
