<%@ Master Language="C#" AutoEventWireup="true" CodeFile="index.master.cs" Inherits="index" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Thaumy的博客|又一个码农的家</title>
    <!-- 文档头 -->
    <asp:ContentPlaceHolder ID="indexHead" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
        <!-- 文档内容 -->
        <asp:ContentPlaceHolder ID="indexBody" runat="server"></asp:ContentPlaceHolder>
    </form>
</body>
</html>