.RandomBtn {
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.RandomBtn:hover {
	color: #FFFFFF;
    background-color:rgba(70,70,70,1.00);
}
