.CoBox {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    color: rgba(250, 250, 250, 1.00);

    border-radius: 4px;
}

#FootCoBox {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    height: 100px;
}

.CoBox>.AtBox>.StarCount {
    color: rgba(250, 250, 250, 1.00);
}

.CoBox>.AtBox>.StarCount:hover {
    box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.4);
}

.CoBox>.AtBox>.CommentCount {
    color: rgba(250, 250, 250, 1.00);
}

.CoBox>.AtBox>.CommentCount:hover {
    box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.4);
}

.CoBox>.text_auth {
    margin-top: 6px;
    margin-left: 10px;

    letter-spacing: 1px;
    margin-right: 0;
}

.CoBox>.text_mId {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 14px;
    margin: 6px;

    border-radius: 4px;
}

.CoBox>.text_mId::before {
    font-family: 'field-icon';
    content: "\e3015";

    display: table-cell;
}