.ReadTimeTip,
.ArchivTip,
.SchedulTip,
.CommentTip,
.LockTip,
.WarningTip
{
    color: white;
    font-size: 15px;
    display: flex;

    padding-left: 2%;
    padding-right: 2%;
    margin: 4px;

    border-radius: 3px;
}


.ReadTimeTip>.con,
.ArchivTip>.con,
.SchedulTip>.con,
.CommentTip>.con,
.LockTip>.con,
.WarningTip>.con
{
    margin-right: auto;
}




.ReadTimeTip {
    background: rgb(52, 165, 61);
    padding-top: 3px;
    padding-bottom: 3px;
}
.ArchivTip {
    background: rgb(255, 165, 0);
    padding-top: 12px;
    padding-bottom: 12px;
}
.SchedulTip {
    background: rgb(0, 120, 215);
    padding-top: 3px;
    padding-bottom: 3px;
}
.CommentTip {
    background: rgb(0,153,255);
    padding-top: 3px;
    padding-bottom: 3px;
}
.LockTip {
    background:rgb(255,102,0);
    padding-top: 3px;
    padding-bottom: 3px;
}
.WarningTip {
    background: rgb(255, 165, 0);
    padding-top: 3px;
    padding-bottom: 3px;
}

.ReadTimeTip::after,
.ArchivTip::after,
.SchedulTip::after,
.CommentTip::after,
.LockTip::after,
.WarningTip::after
{
    align-self: center;
    font-family: 'field-icon';
}

.ReadTimeTip::after {
    content: "\e3004";
}
.ArchivTip::after {
    content: "\e3016";
}
.SchedulTip::after {
    content: "\e3017";
}
.CommentTip::after {
    content: "\e3003";
}
.LockTip::after {
    content: "\e3024";
}
.WarningTip::after {
    content: "\e3023";
}