.GoUpBtn {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 10%;
    background-color: rgba(110,110,110,1);
    border-radius: 30px;
}
.GoUpBtn>div{    
	margin: auto;
}
@media only screen and (min-width: 1025px) {
.GoUpBtn {
    width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    right: 6%;
}
}

@media only screen and (max-width: 1024px) {
.GoUpBtn {
    width: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 2%;
}
}
