.LoadPostBtn {
    width: 100%;
    background-color: rgba(110,110,110,1);
    padding-bottom: 14px;
    margin-top: 50px;
    margin-bottom: 140px;
    position: relative;
    padding-top: 14px;
}
.LoadPostBtn>div {
margin: auto;
}
.LoadPostBtn:hover {
    background-color: rgba(138,138,138,1);
}