.RandomBtn {
    text-align: center;
    font-size: 26px;
    color: #FFFFFF;
    background-color: rgba(120,120,120,0.86);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    float: left;
    width: 100%;
}
.RandomBtn:hover {
    color: #FFFFFF;
    background-color: #9B8484;
}
