.logo_AM {
    height: 30px;
    width: 156px;
    background: transparent url("../IMG/logo/AM.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 30%;
    margin-bottom: auto;
}
.logo_palaDev {
    height: 30px;
    width: 156px;
    background: transparent url("../IMG/logo/palaDev.svg");
    background-repeat: no-repeat;
    background-position: center;
	margin-top: 0;
    margin: auto;
}
.logo_palaWord {
    height: 30px;
    width: 156px;
    background: transparent url("../IMG/logo/palaWord.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    float: right;
    margin-right: 30%;
}
.arrow_right {
    background: transparent url("../IMG/arrow/arrow_right.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.arrow_up {
    background: transparent url("../IMG/arrow/arrow_up.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.arrow_down {
    background: transparent url("../IMG/arrow/arrow_down.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.LabelBg {
	background-image: url("../IMG/statuBg.jpg");
    background-repeat: repeat;
}

.BoxStrip {
    width: 22px;
    height: 34px;
    position: relative;
    float: right;
    background-position: top;
    background-size: contain;
    margin-right: 4%;
    margin-top: 0px;
}
.OrgStrip{
	background-image: url("../IMG/strip/strip_org.svg");
    background-repeat: no-repeat;
}
.BluStrip{
	background-image: url("../IMG/strip/strip_blu.svg");
    background-repeat: no-repeat;
}
.PrpStrip{
	background-image: url("../IMG/strip/strip_prp.svg");
    background-repeat: no-repeat;
}
.siteBg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../IMG/bg1.jpg");
	filter:blur(2px) grayscale(60%);
    background-size: cover;
    background-position: center;
}
.avatar_M {
	background: transparent url("../IMG/p128.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: contain;
}
