.mk-bug {
    background: rgba(205,21,84,1.00);
}
.mk-dbg {
    background:rgba(0,167,0,1.00)
}
.mk-dt {
	font-family: 'Ubuntu Mono', monospace;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 5px;
	margin-right: 4px;
    background: rgba(70,70,70,1.00);
}
.mk-updt {
	background:rgb(150, 80, 180);
}
.mk-mtn {
    background: rgba(236,146,17,1.00);
}
.mk-w {
    background:rgb(0, 120, 120);
}
.mk-ui {
    background: rgba(12,143,185,1.00);
}

.mk-w, .mk-bug, .mk-dbg, .mk-updt, .mk-mtn, .mk-ui {
	font-family: 'Ubuntu Mono', monospace;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}
.mk-w::before {
    content: "W";
}
.mk-bug::before {
    content: "!";
}
.mk-dbg::before {
    content: "DBG";
}
.mk-updt::before {
    content: "UPDT";
}
.mk-mtn::before {
    content: "MTN";
}
.mk-ui::before {
    content: "UI";
}