/* 基本 */
@import "./global/doc.css";
@import "./global/el.css";
@import "./global/font.css";
@import "./global/transition.css";

/* 组件 */
@import "./global/Box/AtBox.css";
@import "./global/Box/CardCol.css";
@import "./global/Box/CoBox.css";
@import "./global/Box/CommentBox.css";
@import "./global/Box/CommentList.css";
@import "./global/Box/NavCol.css";
@import "./global/Box/NavLine.css";
@import "./global/Box/SiderList.css";
@import "./global/Box/TipBox.css";

@import "./global/Btn/SiderBtn.css";
@import "./global/Btn/switchBtn.css";
@import "./global/Btn/upBtn.css";

/* 样式标签 */
@import "./global/class/border.css";
@import "./global/class/color.css";
@import "./global/class/more.css";
@import "./global/class/img.css";

/* 其他组件 */
@import "./global/more/mrks.css";
/*@import "./global/more/vs2015.css";*/
@import "./global/more/wrds.css";
