.CommentBox {
    width: 100%;

    padding-top: 10px;
    padding-bottom: 6px;
    margin-bottom: 160px;

    text-align: center;
    font-size: 22px;
    line-height: 18px;

    position: relative;
}