.LoadPostBtn {
    width: 100%;
    background-color: rgba(120,120,120,0.86);
    padding-bottom: 14px;
    margin-top: 6%;
	margin-bottom: 20%;
    position: relative;
    padding-top: 14px;
}
.LoadPostBtn:hover {
    background-color: #9B8484;
}
.LoadPostBtn_pic {
    width: 26px;
    height: 26px;
    position: relative;
    margin: auto;
}
