#CardCol>.Col>.Card {
    /* 颜色模式 */
    background: rgba(40, 40, 40, 1.00);
}

#CardCol>.Col>.Card>.contain {
    /* 颜色模式 */
    background: rgba(30, 30, 30, 1.00);
}

#CardCol>.Col>.Card>.contain>.Title {
    /* 颜色模式 */
    color: rgba(240, 240, 240, 1.00);
}

#CardCol>.Col>.Card>.contain>.Summary {
    /* 颜色模式 */
    color: rgba(210, 210, 210, 1.00);
}

#CardCol>.Col>.Card>.contain>.Content {
    /* 颜色模式 */
    color: rgba(240, 240, 240, 1.00);
    background: rgba(30, 30, 30, 1.00);
}

#CardCol>.Col>.Card>.contain>.NoteContent {
    /* 颜色模式 */
    color: rgba(170, 170, 170, 1.00);
    background: rgba(30, 30, 30, 1.00);
}