.CommentList {
    /* 颜色模式 */
    background: rgba(0, 0, 0, 0.4);
}

.CommentList>.Box {
    /* 颜色模式 */
    background: var(--b30);
}

.CommentList>.Box>.Name {
    /* 颜色模式 */
    color: var(--w220);
}

.CommentList>.Box>.Content {
    /* 颜色模式 */
    color: var(--w200);
}

.CommentList>.Box>.Time {
    /* 颜色模式 */
    color: rgba(170, 170, 170, 1);
}

.CommentList>.Box>.Floor {
    /* 颜色模式 */
    color: var(--w220);
    background: var(--b55);
}