.goUpBtn {
    text-align: center;
    line-height: 28px;

    position: fixed;
    z-index: 1;
    bottom: 10%;

    cursor: pointer;
}

.goUpBtn::before {
    font-family: 'labelico';
    color: #FFFFFF;
    content: "\e3005";
}

/* 屏幕宽度大于1490时 */
@media (min-width: 1490px) {
    .goUpBtn {
        font-size: 22px;
        
        width: 60px;
        padding-top: 9px;
        padding-bottom: 9px;

        right: 6%;
    }
}

/* 屏幕宽度大于1000，小于1490时 */
@media (max-width: 1490px) and (min-width:1000px) {
    .goUpBtn {
        font-size: 22px;

        width: 50px;
        padding-top: 7px;
        padding-bottom: 7px;

        right: 2%;
    }
}

/* 屏幕宽度小于1000时 */
@media (max-width: 1000px) {
    .goUpBtn {
        font-size: 18px;

        width: 50px;
        padding-top: 6px;
        padding-bottom: 6px;

        left: 2%;
    }
}